<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="custom_header">
      <q-toolbar class="custom_toolbar">
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-btn
          flat
          dense
          round
          @click="goBack"
          icon="chevron_left"
          aria-label="Back"
          class="custom-btn_back"
        >Back
        </q-btn>

      </q-toolbar>
    </q-header>

    <q-drawer style="display: grid; grid-template-rows: 1fr auto; min-height: 100vh;"
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <q-list>
        <div class="q-pa-sm" style="max-width: 350px;">
          <q-list>
          <q-expansion-item  expand-icon-toggle style="border-bottom: 1px solid #b7b7b7; padding-bottom: 15px;">
            <template v-slot:header>
              <q-item-section avatar>
                <q-avatar>
                  <img src="../assets/Avatar.svg">
                </q-avatar>
              </q-item-section>

              <q-item-section>
                John
              </q-item-section>
            </template>
          </q-expansion-item>
          </q-list>
        </div>


        <div class="q-pa-sm" style="max-width: 350px">
          <q-list bordered class="rounded-borders">
            <q-expansion-item
              expand-separator
              icon="apps"
              label="Boards"
              header-class="text-primary"

            >
              <q-card>
                <q-tabs
                  switch-indicator
                  class="tabs-bottom"
                  indicator-color="transparent"
                  narrow-indicator
                  style="flex-direction: column; "
                >
                  <q-route-tab
                    style="justify-content: center"
                    v-for="(menuItem, index) in subMenuItems"
                    :key="index"
                    :icon="menuItem.icon"
                    :to="menuItem.link"
                    :label="menuItem.displayName"
                    replace
                    :ripple="false"
                  />
                </q-tabs>
              </q-card>
            </q-expansion-item>
          </q-list>
        </div>

        <div class="list-menu">
          <q-tabs
            switch-indicator
            class="tabs-bottom"
            indicator-color="transparent"
            narrow-indicator
            style="flex-direction: column; "
          >
            <q-route-tab
              style="justify-content: center"
              v-for="(menuItem, index) in menuItems"
              :key="index"
              :icon="menuItem.icon"
              :to="menuItem.link"
              :label="menuItem.displayName"
              replace
              :ripple="false"
            />
          </q-tabs>
        </div>
      </q-list>

      <div class="list-footer">
        <q-tabs
          switch-indicator
          class="tabs-bottom"
          indicator-color="transparent"
          narrow-indicator
          style="flex-direction: column"
        >
          <q-route-tab
            style="justify-content: center"
            v-for="(menuItem, index) in menuItems2"
            :key="index"
            :icon="menuItem.icon"
            :to="menuItem.link"
            :label="menuItem.displayName"
            replace
            :ripple="false"
          />
        </q-tabs>
      </div>
    </q-drawer>

    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>
  </q-layout>
</template>


<style lang="scss">
.custom_header {
  background: #FFFFFF;
  color: black;
  height: 130px;

  .custom_toolbar {
    padding-top: 30px;
  }
}

.q-expansion-item__toggle-focus {
  display: none;
}

.q-item__section {
  padding-right: 0;
  justify-content: flex-start;
  align-items: center;

  .q-item__label {
    font-size: 14px;
    font-weight: 500;
  }
}

.list-menu {
  margin: 10px 10px 0 10px;
}
.list-footer {
  border-top: 1px solid #b7b7b7;
  margin: 10px 10px 0 10px;
}

.self-stretch {
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.q-tab--full {
  min-height: 60px;
}

.q-tab:hover {
  color: #F58322;
}

.rounded-borders {
  border: none;

}


.column {
  flex-direction: row;
}

.q-tab__content {
  .q-tab__label {
    font-size: 14px;
    text-transform: none;
    margin-left: 30px;
  }
}

.custom-btn_back {
  margin-left: 30px;
  text-transform: none;
}
</style>

<script setup lang="ts">
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { menuItems, subMenuItems } from 'src/data/menuItems';
import { menuItems2 } from 'src/data/menuItems';

defineOptions({
  name: 'MenuLayout'
});

const leftDrawerOpen = ref(false);
const router = useRouter();

function toggleLeftDrawer() {
  leftDrawerOpen.value = !leftDrawerOpen.value;
}

const goBack = () => {
  if (window.history.length > 2) {
    router.go(-1);
  } else {
    router.push('/');
  }
};
</script>
